@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This web application was developed for educational purposes by student 00008617 on the WAD module.</p>
