@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This web application was developed for educational purposes by student 00008617 on the WAD module.</p>


<div class="text-right">
    <img src="~/images/library2.jpg" alt="" style="width:23%; margin-bottom: 100px;" />
</div>

