@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: #80514a; font-family: cursive;">Welcome</h1>
    <p style=" font-size: 18px; font-family: cursive;">Bookush is an online library that contains millions of books on all kinds of genres.</p>
    <p style=" font-size: 18px; font-family: cursive;">Become a member of this community and find the book you love! .</p>
    <img src="~/images/library.jpg" alt="" style="width:60%;" />

</div>