@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Bookush is an online library that contains millions of books on all kinds of genres.</p>
    <p>Become a member of this community and find the book you love! .</p>
</div>